<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width" initial-scale=1>
  <meta name="description" content="Need help with your English correspondence? Send your emails to billy and get a polished response within the hour.">
  <title> Mail Billy proofreading and translation</title>
  <link rel='icon' href='favicon.ico' type='image/x-icon'>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
  {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/mailbilly.css" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Kadwa|Poppins" rel="stylesheet" type='text/css' />
    <link href="https://file.myfontastic.com/fB3rWEx9bjayxwuidE5skU/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />

  {% endblock %}
</head>

<body>
  <nav id="billybar" class="billybar navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#billynav" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Project name</a>-->
      </div>
      <div id="billynav" class="collapse navbar-collapse">
        <ul id="navers" class="nav navbar-center">
          <li class="navie"><a href="#how">How</a></li>
          <li class="navie"><a href="#price">Prices</a></li>
          <li class="navie hidden-xs"><a href="#equipe">Team</a></li>
          <li class="navie"><a href="#faq">FAQ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li class="langie in-use"><a href="/en">English</a></li>
          <li class="langie"><a href="/">français</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:billy@mailbilly.com?subject=Help, Billy!"><i class="icon ion-android-mail"></i></a></li>
          <li><a href="tel:+33355870992"><i class="icon ion-android-call"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <h1 class="page-head">Mail Billy</h1>
      <div class="bubs-box">
        <div class="billy-box"><img class="billy" src='/static/img/billy.png' /></div>
        <div class="speech-bubs bubs-top">
          <p>How do you do!</p>
          <p> I’m Billy, your virtual English assistant.</p>
          <p> </p>
        </div>
      </div>
      <h3 class="accent-text">Shoot me an email with an English request, and I'll respond within the hour.</h3>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//mailbilly.us12.list-manage.com/subscribe/post?u=139eaf8a888449e84cb594535&amp;id=81cd9b84c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

            <div class="mc-field-group inlinie">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
            </div>
            <div id="mce-responses" class="clear inlinie">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_139eaf8a888449e84cb594535_81cd9b84c3" tabindex="-1" value=""></div>
            <div class="clear inlinie"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default site-btn"></div>
          </div>
        </form>
      </div><!--End mc_embed_signup-->
      <p class="accent-text centers">Sign up now for €5 in free credit!</p>
    </div>

    <div id="value" class="row">
      <h3>You can use Billy to:</h3>
      <div class="col-sm-4">
        <p class="value-icon"><i class="icon ion-email"></i></p><p>Proofread an important email</p>
      </div>
      <div class="col-sm-4">
        <p class="value-icon"><i class="icon ion-document-text"></i></p><p>Translate a short text (FR / EN)</p>
      </div>
      <div class="col-sm-4">
        <p class="value-icon"><i class="icon ion-clock"></i></p><p>Average response time 24min</p>
      </div>
    </div><!-- end .row -->

    <div id="how" class="row">
      <h3>How it Works</h3>
      <div class="col-sm-5">
        <p class="counting-msg icon-one">Address an email to Billy: billy@mailbilly.com.</p>
        <p class="counting-msg icon-two">Write or copy in your message and send it.</p>
        <p class="counting-msg icon-three">Billy will respond in less than one hour with your corrected or translated text.</p>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="mail-box">
          <p class="mail-to">To: <a href="mailto:billy@mailbilly.com">billy@mailbilly.com</a></p>
          <p class="mail-sub">Subject: Is we always okay for 18H ?</p>
          <p>Hello Derrick,</p>
          <p>It's me Sebastien. Do you remember us appointment for this night ? If you forget my number he is 03 55 87 09 92. </p>
          <p>Cordially,</p>
          <p>Sebastien</p>
        </div>
      </div>
    </div><!-- end .row -->

    <div id="price" class="row">
      <h3 id="prix"> Our Prices </h3>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="left-side">
          <div>Price: <span id="price-quote">2,00€</span></div>
          <div id="how-group" class="btn-group size-switcher" data-toggle="buttons">
            <label class="btn btn-default active" data-multiplier=0>
              <input type="radio" name="mode" id="option1"> Proofing
            </label>
            <label class="btn btn-default"  data-multiplier=2>
              <input type="radio" name="mode" id="option2"> Translation
            </label>
          </div>
        </div>
        <div class="right-side">
          <div>Words: <span id="word-count">8</span></div>
          <div id="what-group" class="btn-group size-switcher" data-toggle="buttons">
            <label class="btn btn-default active" data-multiplier=0>
              <input type="radio" name="period" id="period1"> Correspondance
            </label>
            <label class="btn btn-default" data-multiplier=1>
              <input type="radio" name="period" id="period2"> Marketing
            </label>
            <label class="btn btn-default" data-multiplier=1>
              <input type="radio" name="period" id="period2"> Technical
            </label>
          </div>
        </div>
        <div class="text-wrapper">
          <textarea id="word-counter" class="word-counter">Paste your text here to calculate the price.</textarea>
          <form id="devis-form" action="/charge" method="post">
          </form>
          <div class="word-counter-addon">
            <span class="lefters modal-extrafo"> minimum purchase 2,00€</span>
            <button id="charge-btn" type="button" class="btn btn-default site-btn">Buy <span id="credits" data-amount="200">2,00€</span> credits</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 centers">
        <div class="bundle-wrap">
          <div class="bundle btn-group" role="group" aria-label="...">
            <a id="charge35"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_100.png" />
              <div class="buy-btn">
                <p class="big-money">50€ HT</p>
                <p class="little-money hidden-xs">+5,00€ bundle</p>
              </div>
            </a>
              <a id="charge75"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_200.png" />
              <div class="buy-btn">
                <p class="big-money">100€ HT</p>
                <p class="little-money hidden-xs">+10,00€ bundle</p>
              </div>
            </a>
            <a id="charge150"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_300.png" />
              <div class="buy-btn">
                <p class="big-money">150€ HT</p>
                <p class="little-money hidden-xs">+15€ bundle</p>
              </div>
            </a>
            <a id="charge300"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_400.png" />
              <div class="buy-btn">
                <p class="big-money">300€ HT</p>
                <p class="little-money hidden-xs">+30€ bundle</p>
              </div>
            </a>
            <a id="charge500"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_500.png" />
              <div class="buy-btn">
                <p class="big-money">500€ HT</p>
                <p class="little-money hidden-xs">+50€ bundle</p>
              </div>
            </a>
          </div>
        </div>
        <p class="center-text" >Buy a bundle of credits and receive a 10% bonus!</p>
      </div><!-- end .col-sm-6 -->
    </div><!-- end .row -->

    <div class="row" id="equipe">
      <h3>Billy's Team</h3>
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 left-img">
        <img src="/static/img/amber.png" />
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 center">
        <img src="/static/img/jason.png" />
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 right-im">
        <img src="/static/img/grace.png" />
      </div>
      <!--<div class="col-xs-12">
        <h3 class="accent-text-o">Nos expert prêts à adapter votre correspondance à un public anglo-saxon</h3>
      </div>-->
    </div><!-- end .row -->

    <div class="row" id="faq">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3>FAQ</h3>
        <p class="faq-q">What kind of text can I send MailBilly?</p>
        <p>
          Any communication less than 600 words, either English that you would like improved or French that you would like translated into English.  For larger or more technical texts, please contact us directly for a quote.
        </p>
        <p class="faq-q">What kind of quality can I expect with Mail Billy?</p>
        <p>
          We go well beyond simply ensuring that the English in your email is correct. Our communication experts inject personality, charm, professionalism, and eloquence into your message.
        </p>
        <p class="faq-q">Who are these so-called experts?</p>
        <p>
          These are U.S. and U.K.-born individuals who have at least some professional background in marketing or communication, whether it be higher education or on-the-job experience.
        </p>
        <p class="faq-q">What about confidentiality?</p>
        <p>
          We recommend substituting names of people, companies, or organizations with aliases if you’re concerned about confidentiality. We are also happy to sign a confidentiality agreement with you.
        </p>
        <p class="faq-q">What about word count?</p>
        <p>
          You can calculate the number of words in your message <a href="/en#size">here</a>. Based on the number of words you can see which price category the email falls in.
        </p>
        <p class="faq-q">What are the hours of operation for Mail Billy?</p>
        <p>
          While in beta, we guarantee our one-hour service from 9H to 23H (UTC + 01:00) Monday through Sunday. Our next big upgrade will feature 24/7 service.
        </p>
        <p class="faq-q">Do you do English to French translation?</p>
        <p>Yes, but it’s guaranteed within the day, not the hour. </p>
        <p class="faq-q">Is Billy single?</p>
        <p>
          Shoot him a message and ask for yourself! ;)
        <p class="faq-q">What can we expect in the post-beta version of Mail Billy?</p>
        <p>
          Oh gosh, so many swell things. A browser-based interface with email tracking, a timer so you’ll know approximately when you can expect to receive your email...
        </p>
        <p>
          Future versions of the service will include an email plug-in/widget to make communicating with Billy even easier, as well as a Slack integration. We’ll also have a built-in confidentiality enforcer that automatically scrambles proper nouns (people, places, companies, etc.) in your emails before our experts receive them.
        </p>
      </div>
    </div><!-- end .row -->
  </div><!-- end .container-fluid -->

  {% block footer %}{% endblock %}
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/static/js/mailbilly.js" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70860149-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src='https://cdn.slaask.com/chat.js'></script>
    <script>
      _slaask.init('3a807bd42d971fe641b7d8ae7314831d');
    </script>
  {% endblock %}
</body>

</html>
