<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width" initial-scale=1>
  <meta name="description" content="Besoin d'aide avec votre correspondance en anglais? Envoyez vos mails pour relecture ou traduction en une heure.">
  <title> Mail Billy relecture et traduction en anglais</title>
  <link rel='icon' href='favicon.ico' type='image/x-icon'>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
  {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/mailbill-stage.css" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Kadwa|Poppins" rel="stylesheet" type='text/css' />
    <link href="https://file.myfontastic.com/fB3rWEx9bjayxwuidE5skU/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />

  {% endblock %}
</head>

<body>
  <nav id="billybar" class="billybar navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#billynav" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Project name</a>-->
      </div>
      <div id="billynav" class="collapse navbar-collapse">
        <ul id="navers" class="nav navbar-center">
          <li class="navie"><a href="#how">Etapes</a></li>
          <li class="navie"><a href="#price">Tarifs</a></li>
          <li class="navie hidden-xs"><a href="#equipe">Equipe</a></li>
          <li class="navie"><a href="#faq">FAQ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li class="langie"><a href="/en">English</a></li>
          <li class="langie in-use"><a href="/">français</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:billy@mailbilly.com?subject=Help, Billy!"><i class="icon ion-android-mail"></i></a></li>
          <li><a href="tel:+33355870992"><i class="icon ion-android-call"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.container -->
  </nav>
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <h1 class="page-head">Mail Billy</h1>
      <div class="bubs-box">
        <div class="billy-box"><img class="billy" src='/static/img/billy.png' /></div>
        <div class="speech-bubs bubs-top">
          <p>Salut ! Moi c'est Billy.</p>
          <p> Je suis votre assistant virtuel de communication en anglais.</p>
        </div>
      </div>
      <h3 class="accent-text">En moins d'une heure, recevez votre mail dans un anglais impeccable.</h3>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//mailbilly.us12.list-manage.com/subscribe/post?u=139eaf8a888449e84cb594535&amp;id=3c9ebe6473" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group inlinie">
              <input placeholder="adresse mail" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear inlinie">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_139eaf8a888449e84cb594535_3c9ebe6473" tabindex="-1" value=""></div>
            <div class="clear inlinie"><input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default button site-btn"></div>
          </div>
        </form>
      </div><!--End mc_embed_signup-->
      <p class="accent-text centers">Inscrivez-vous dès maintenant et recevez 5€ de crédit gratuit !</p>
    </div><!-- end .row -->

    <div id="value" class="row">
      <h3>Utilisez-moi pour :</h3>
      <div class="col-sm-4">
        <p class="value-icon"><i class="icon ion-email"></i></p><p>Relire un e-mail important</p>
      </div>
      <div class="col-sm-4">
        <p class="value-icon"><i class="icon ion-document-text"></i></p><p>Traduire un court texte (FR / EN)</p>
      </div>
      <div class="col-sm-4">
        <p class="value-icon"><i class="icon ion-clock"></i></p><p>Une réponse en 24 minutes en moyenne</p>
      </div>
    </div><!-- end .row -->

    <div id="how" class="row">
      <h3>Les étapes</h3>
      <div class="col-sm-5">
        <p class="counting-msg icon-one">Adressez votre mail à billy@mailbilly.com</p>
        <p class="counting-msg icon-two">Écrivez votre mail et envoyez-le.
        </p>
        <p class="counting-msg icon-three">Récevez votre mail dans l’heure !
        </p>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="mail-box">
          <p class="mail-to">À: <a href="mailto:billy@mailbilly.com">billy@mailbilly.com</a></p>
          <p class="mail-sub">Sujet: Is we always okay for 18H ?</p>
          <p>Hello Derrick,</p>
          <p>It's me Sebastien. Do you remember us appointment for this night ? If you forget my number he is 06 52 13 72 32. </p>
          <p>Cordially,</p>
          <p>Sebastien</p>
        </div>
      </div>
    </div><!-- end .row -->

    <div id="price" class="row">
      <h3 id="prix"> Nos tarifs </h3>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="left-side">
          <div>Prix: <span id="price-quote">2,00€</span></div>
          <div id="how-group" class="btn-group size-switcher" data-toggle="buttons">
            <label class="btn btn-default active" data-multiplier=0>
              <input type="radio" name="mode" id="option1"> Relecture
            </label>
            <label class="btn btn-default"  data-multiplier=2>
              <input type="radio" name="mode" id="option2"> Traduction
            </label>
          </div>
        </div>
        <div class="right-side">
          <div>Mots: <span id="word-count">7</span></div>
          <div id="what-group" class="btn-group size-switcher" data-toggle="buttons">
            <label class="btn btn-default active" data-multiplier=0 data-tiptitle="Communication professionnelle par email">
              <input type="radio" name="period" id="period1"> Correspondance
            </label>
            <label class="btn btn-default" data-multiplier=1 data-tiptitle="Contenu destiné à l’usage marketing">
              <input type="radio" name="period" id="period2"> Marketing
            </label>
            <label class="btn btn-default" data-multiplier=1 data-tiptitle="Du contenu technique, informatique ou scientifique">
              <input type="radio" name="period" id="period2"> Technique
            </label>
          </div>
          <div class="tipper" role="tooltip">
            <div class="tooltip-inner">
            </div>
          </div>
        </div>
        <div class="text-wrapper">
          <textarea id="word-counter" class="word-counter">Collez votre texte pour estimer sa tarification.</textarea>
          <form id="devis-form" action="/charge" method="post">
          </form>
          <div class="word-counter-addon">
            <span class="lefters modal-extrafo"> Montant d’achat minimum de 2,00€</span>
            <button id="charge-btn" type="button" class="btn btn-default site-btn">Achetez <span id="credits" data-amount="200">2,00€</span> de crédit</button>
          </div>
        </div>
      </div>
            <div class="col-xs-12 centers">
        <div class="bundle-wrap">
          <div class="bundle btn-group" role="group" aria-label="...">
            <a id="charge35"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_100.png" />
              <div class="buy-btn">
                <p class="big-money">25€ HT</p>
                <p class="little-money hidden-xs">+2,50€ offerts</p>
              </div>
            </a>
              <a id="charge75"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_200.png" />
              <div class="buy-btn">
                <p class="big-money">75€ HT</p>
                <p class="little-money hidden-xs">+7,50€ offerts</p>
              </div>
            </a>
            <a id="charge150"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_300.png" />
              <div class="buy-btn">
                <p class="big-money">150€ HT</p>
                <p class="little-money hidden-xs">+15€ offerts</p>
              </div>
            </a>
            <a id="charge300"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_400.png" />
              <div class="buy-btn">
                <p class="big-money">300€ HT</p>
                <p class="little-money hidden-xs">+30€ offerts</p>
              </div>
            </a>
            <a id="charge500"class=" bundle-btn btn btn-default">
              <img class="bundle-img" src="/static/img/bundle_500.png" />
              <div class="buy-btn">
                <p class="big-money">500€ HT</p>
                <p class="little-money hidden-xs">+50€ offerts</p>
              </div>
            </a>
          </div>
        </div>
        <p class="center-text" >Achetez un lot de crédits et vous recevrez 10% de crédit en bonus !</p>
      </div><!-- end .col-sm-6 -->
    </div><!-- end .row -->

    <div class="row" id="equipe">
      <h3>L'équipe de Billy</h3>
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 left-img">
          <img src="static/img/amber.png" />
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 center">
          <img src="static/img/jason.png" />
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 right-im">
          <img src="static/img/grace.png" />
      </div>
    </div><!-- end .row -->

    <div class="row" id="faq">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3>FAQ</h3>
        <p class="faq-q">Quel genre de texte puis-je envoyer à Mail Billy ?</p>
        <p>
          Tout message comportant moins de 600 mots, que ce soit pour une traduction français/anglais ou une correction en anglais. Pour des traductions ou des relectures plus longues, veuillez nous contacter directement à billy@mailbilly.com pour un devis.
        </p>
        <p class="faq-q">Qu’est-ce que je peux attendre de Mail Billy ?</p>
        <p>
          Il s’agit bien plus qu’une simple correction. Nos experts en communication rajoutent de la personnalité et du professionnalisme à vos messages.
        </p>
        <p class="faq-q">Qui sont ces soi-disant experts ?</p>
        <p>
          Ce sont des Anglais ou Américains qui ont eu soit une carrière professionelle dans le marketing et la communication, soit dans l’enseignement supérieur ou dans le cadre d’une expérience professionnelle.
        </p>
        <p class="faq-q">À propos de la confidentialité ?</p>
        <p>
          Nous vous recommandons d’utiliser des “pseudos” pour les noms de personnes, de sociétés ou d’organisations si vous êtes inquiet quant à la confidentialité de vos mails. Nous serions heureux de signer une clause de confidentialité si vous le souhaitez.
        </p>
        <p class="faq-q">À propos du nombre de mots à corriger ?</p>
        <p>
          Vous pouvez calculer le nombre de mots <a href="#size">ici</a>, et nous vous donnerons le prix.
        </p>
        <p class="faq-q">Quel sont les horaires de travail Mail Billy ?</p>
        <p>
          Durant la période bêta, nous garantissons notre service en une heure entre 9H et 23H (UTC+01:00). Par la suite, nous assurerons un service non stop 7/7J et 24H/24.
        </p>
        <p class="faq-q">Est-ce que Billy est célibataire?</p>
        <p>
          Envoyez-lui un message et demandez-lui vous-même :)</p>
        <p class="faq-q">Que peut-on espérer de la version “post-bêta” version de Mail Billy?</p>
        <p>Plein de nouvelles fonctionnalités!</p>
        <p>
          Une interface basée sur votre navigateur de recherche pour le comptage de mots et le suivi de mail. Un minuteur pour savoir quand vous pouvez espérer recevoir votre email corrigé.
        </p>
        <p>
          Les futures versions de ce service incluront un email plug-in/widget afin de faciliter la communication avec Billy. Nous allons également construire un système assurant la confidentialité de vos messages, système qui permettra de brouiller les noms propres automatiquement (lieux, noms, sociétés, organisations, etc…) dans vos emails, et ce avant que nos experts les reçoivent.
        </p>
      </div>
    </div><!-- end .row -->
  </div><!-- end .container-fluid -->

  {% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="col-sm-4 col-md-3">
        <ul class="footer-nav">
          <li class="foot-title">Contactez-nous</li>
          <li><a href="mailto:billy@mailbilly.com?subject=Help Billy!">billy@mailbilly.com</a></li>
          <li><a href="tel:+33355870992">+33 355 870 992</a></li>
          <li><a href="https://www.facebook.com/mailbilly">facebook</a></li>
          <li><a href="https://twitter.com/mailbillymail">twitter</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-3">
        <ul class="footer-nav">
          <li class="foot-title">Nos Horaires</li>
          <li>9h-23h par mail</li>
          <li>10h-17h par téléphone</li>
          <li>Lille, France</li>
        </ul>
      </div>
    </div>
  </footer>
  {% endblock %}
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/static/js/mailbilly.js" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70860149-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src='https://cdn.slaask.com/chat.js'></script>
    <script>
      _slaask.init('3a807bd42d971fe641b7d8ae7314831d');
    </script>
  {% endblock %}
</body>

</html>
